title = "Post"
url = "/post/:slug"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/post"

[galleryId]
idGallery = 1
lang = "Gallery"
jqueryinject = "yes"
thumbnail = "true"
caption = "true"
desc = "true"
counter = "true"
controls = "true"
preload = 1
mode = "lg-slide"
speed = 600
loop = "true"
auto = "false"
pause = 2000
escKey = "true"
height = 200
width = 200
resizer = "auto"
==
<section id="layout-title">
    <div class="container">
        <h3>Blog Post</h3>
    </div>
</section>

<div class="container" onclick="test()">
    <div class="row">
        <div class="col-sm-9">

            <!-- Blog Post #1 -->
            <div class="blog">
                <div class="blog-desc">
                    {% set post = blogPost.post %}
                    
                    <h5>{{post.title}}</h5>
                    <hr />
                    <p class="text-muted">
                        Posted
                        {% if post.categories.count %} in
                            {% for category in post.categories %}
                                <a href="{{ category.url }}" style="color: {{ category.awesome_color }};">
                                    <i class='{{category.awesomeIcon}}'></i> {{ category.name }}
                                </a>
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                        on {{ post.published_at|date('M d, Y') }}
                    </p>
                    
                    <!--Thunbnail-->
                    {% if post.featured_images.count %}
                        <div class="featured-images text-center">
                            {% for image in post.featured_images %}
                                <p>
                                    <img
                                        data-src="{{ image.filename }}"
                                        src="{{ image.path }}"
                                        alt="{{ image.description }}"
                                        class="img-responsive" />
                                </p>
                            {% endfor %}
                        </div>
                        <hr />
                    {% endif %}
                    <!--END Thunbnail-->

                    <div class="content">{{ post.content_html|raw }}</div>    
                    
                    {% if post.rjgallery %}
                        {% component 'galleryId' gallery=post.rjgallery %}
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="col-sm-3">

            {% partial 'blog/sidebar' %}

        </div>
        
    </div>
</div>