description = "Shows the latest articles"

[blogPosts]
pageNumber = 1
postsPerPage = 5
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = 404
postPage = "blog/post"
==
{% set posts = blogPosts.posts %}
<div class="latestNews">
    {% for post in posts %}
      <div class="article">
          <div class="article-thumbnail">
              {% set image = post.featured_images[0] %}
              <a href="{{ post.url }}">
                  <img
                    data-src="{{ image.filename }}"
                    src="{{ image.path }}"
                    alt="{{ image.description }}"
                    class="img-responsive thumbnail" 
                    style="height: 200px;"
                  />
              </a>
          </div>
          <div class="article-info">
            <div class="caption">
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <p class="info">
                    Posted
                    {% if post.categories.count %} in {% endif %}
                    {% for category in post.categories %}
                        <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    on {{ post.published_at|date('M d, Y') }}
                </p>
                <p class="excerpt">{{ str_limit(post.summary|raw, 300) }}</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Button</a>
                    <a href="#" class="btn btn-default" role="button">Button</a>
                </p>
            </div>
          </div>
      </div>
  {% else %}
    <li class="no-data">{{ blogPosts.noPostsMessage }}</li>
  {% endfor %}
</div>